{{!-- partial template --}}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <form action="/restaurants/create">
        <button class="addButton">新增餐廳</button>
      </form>
    </div>
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="restaurants/show/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <a class="editButton" href="/restaurants/{{this._id}}/edit">修改資訊</a>
              <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST" style="display:inline;">
                <button class="deleteButton" type="submit">刪除餐廳</button>
              </form>
            </div>
          </div>
        </a>
        {{/each}}

      </div>
    </div>
  </div>
</div>